@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
.flex-container {
  background-color: #c4c4c4;
  width: 100%;
  height: 690px;
  display: inline-flex;
  justify-content: center;
  margin-top: 100px;
}
.container {
  background-color: #c4c4c4;
  width: 100%;
}
.flex-container {
  display: inline-flex;
  justify-content: center;
}

.tituloSI {
  /* B- Heading 1 */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  align-self: center;
    margin-left: 8%;
  margin-top: 5%;
  margin-bottom: 50px;

  /* B -DB COLOR PRINCIPAL */
  color: #1dbeb4;
}
.labelSI {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  margin-top: 5%;
  /* B - DB COLOR 2 */
  color: #383b58;
}
.inputSI {
  border-radius: 5px;
  margin-top: 3%;
  margin-bottom: 3%;
  height: 40px;
  width: 448px;
  left: 0px;
  top: 0px;
}
.btSI {
  background: #1dbeb4;
  border-style: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  justify-content: center;
  height: 40px;
  width: 206px;
  left: 0px;
  top: 0px;

  /* botton sombra */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  /* botton texto */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  margin-left: 28%;
}
.link{
  text-decoration: none;
  color: #4285F4;
}


.textoSI {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 15px;
}
.material-symbols-outlined {
  font-variation-settings: "color" grey, "FILL" 0, "wght" 400, "GRAD" 0,
    "opsz" 48;
}
.LogicaBotonProd{
  padding-top: 8px;
  font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: center;
color: #B00020;

}


/*IPAD mini*/
@media screen and (max-width: 768px){
  .flex-container {
      background-color: #c4c4c4;
      width: 100%;
      height: 900px;
      display: flex;
      justify-content: center;
      margin-top: 100px;
     
    }}
/*Iphone 12 PRO*/
@media screen and (max-width: 390px){
.flex-container {
    background-color: #c4c4c4;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
   
  }

  .inputSI {
    
    width: 300px;
   
  }

  .btSI {
    
    margin-left: 15%;
    
  }
  .material-symbols-outlined {
    margin-top: 95px;
    right: 10px;
  }
}

