.tablasDeInformacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 50px 30px;
    background-color:#efeded;


}

.completarDatos{
  width: 65%;
}
.title-fecha{
    margin-top: 15px ;
    /* B- Heading 1 */
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    
    /* B - DB COLOR 2 */
    
    color: #383B58;
}

h2{
    font-weight: 700;
    font-size: 24px;
    color: #31363F;
    padding: 8px;
    font-style: normal;
}

.contenedorDeDetalleReserva{
    width: 430px;
}
.calendar-cuadro{
    background-color: white;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding-left: 37px;
    padding-top: 10px;
    padding-bottom: 6px;
 
}


.detalle-reserva-page{
    width: 30%;
    background-color: white;
    color: #383B58;
    font-family: 'Roboto';
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
   margin-top: 90px;

}
/* Responsive */
@media screen and (max-width: 768px){
    .tablasDeInformacion{
        flex-direction: column;
    }

    .completarDatos{
        width: 100%;
    }
    .contenedorDeDetalleReserva{
        width: 100%;
        flex-direction: column;
    }
    .detalle-reserva-page{
    width: 100%; 
    }
    .linea{
        margin-bottom: 15px;
    }
    .calendar-cuadro{
       
        padding-left: 4px;
        padding-top: 10px;
        padding-bottom: 6px;
     
}
}
@media screen and (max-width: 460px){
    .contenedorDeDetalleReserva{
        width: 100%;
    }
    
    .tablasDeInformacion{
        padding: 5px;
    }

}
